fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
pydantic
zeroconf
python-dotenv
cryptography
python-multipart
jose
orjson
apscheduler
pytz
pydantic[email]
pandas
openpyxl
natsort
pytest>=7.0.0